<template name="rooms">

  {{error}}  

  <h2>Create a room</h2>
  {{#if currentUser}}
  <form>
    <input type="text" name="roomName" />
    <input type="submit" value="Create" />
  </form>
  {{else}}
  <p>You need to login to create a room.</p>
  {{/if}}

  <h2>Join other players</h2>
  <ul>
  {{#each rooms}}
    {{> roomLink}}
  {{/each}}
  </ul>

  <h2>Who's online</h2>
  {{#each usersOnline}}
    {{> onlineUser}}
  {{/each}}
</template>

<template name="roomLink">
  <li>
    <a href="/room/{{slug}}">{{name}}</a>
  </li> 
</template>

<template name="onlineUser">
  <span>{{username}}</span>
</template>
